<p style="color: green"><%= notice %></p>

<%= turbo_stream_from @video %>
<%= render @video %>

<%= form_with url: search_video_path(@video.uuid), method: :post do |form| %>
  <%= form.text_field :search_text %>
  <%= form.submit "Search" %>
<% end %>

<br>

<% if @video.metadata.present? %>
  <% if @video.metadata["search_results"].present? %>
    <%= @video.metadata["search_results"] %>
  <% end %>
<% end %>

<br>
<br>

<% if @video.frames.present? %>
  <% sorted_frames = @video.frames.sort_by { |f| f.filename.to_s.scan(/\d+/).first.to_i } %>
  <% search_result_keys = @video.metadata&.dig("search_results", "results")&.map { |r| r["key"] } || [] %>
  <% sorted_frames.each_with_index do |file, index| %>
    <% if search_result_keys.empty? || search_result_keys.include?(index) %>
      <div>
        <img src="<%= main_app.url_for(file) %>" />
      </div>
    <% end %>
  <% end %>
<% end %>

<div>
  <%= link_to "Edit this video", edit_video_path(@video) %> |
  <%= link_to "Back to videos", videos_path %>

  <%= button_to "Destroy this video", video_path(@video.uuid), method: :delete %>
</div>
